<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock%} - Big Picture</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class = "home-menu pure-menu pure-menu-horizontal">
            <div class="pure-menu-heading">Big Picture</div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{{ url_for('images.gallery', page=1) }}" class="pure-menu-link">Gallery</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ url_for('images.add_image') }}" class="pure-menu-link">Upload</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ url_for('search.simple') }}" class="pure-menu-link">Search</a>
                </li>
            </ul>
        </div>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
