{% extends 'base.html' %}

{% block content %}
    <form method=post enctype=multipart/form-data class="pure-form pure-form-aligned">
        <label>Upload an image</label>
        <fieldset>
            <div class="pure-control-group">
                <label for='title'>Title*</label>
                <input type='text' id='title' name='title' placeholder='Title' />
            </div>
            <div class="pure-control-group">
                <label for='desc'>Description:</label>
                <input type='text' name='desc' id='desc' placeholder='Description' />
            </div>
            <div class="pure-control-group">
                <label for='file'>Image:</label>
                <input type='file' id='file' name='file' />
            </div>
            <div class="pure-controls">
                <input class='pure-button pure-button-primary' type='submit' value='Upload' />
            </div>
        </fieldset>
    </form>
{% endblock %}
