{% extends 'base.html' %}

{% block title %}Upload an archive{% endblock %}

{% block content %}
    <form method=post enctype=multipart/form-data class="pure-form pure-form-aligned">
        <p>Upload an archive.</p>
        <fieldset>
            <div class="pure-control-group">
                <label for='prefix'>Prefix*</label>
                <input type='text' id='prefix' name='prefix' placeholder='Prefix' />
            </div>
            {# <div class="pure-control-group">
                <label for='desc'>Description:</label>
                <input type='text' name='desc' id='desc' placeholder='Description' />
            </div> #}
            <div class="pure-control-group">
                <label for='file'>Archive (.zip format only)</label>
                <input type='file' name='file' id='file' />
            </div>
            <div class="pure-controls">
                <input class='pure-button pure-button-primary' type='submit' value='Upload' />
            </div>
        </fieldset>
    </form>
{% endblock %}
